<div style="text-align:center">
  <h1 appResalta>
    Bienvenidos {{ title }}!
  </h1>
</div>  

<!-- <nav>
  <a routerLink="/page1"  routerLinkActive="active">Pagina 1</a> |
  <a routerLink="/page2" routerLinkActive="active">Ciudades</a> |
  <a routerLink="/page3"  routerLinkActive="active">Lugares</a> |
  <a routerLink="/places/58be9f37b9d03e04005ee24a"  routerLinkActive="active">Giralda</a> |
  <a routerLink="/page88"  routerLinkActive="active">Error 404</a>
</nav> -->

<hr/>
<app-list-movies></app-list-movies>

<hr/>
  <router-outlet></router-outlet>
<hr/>

<footer>
  &copy; NLionel
</footer>